aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
bitlyshortener
Brotli
bs4
opencv-contrib-python-headless
cachetools
certifi
cffi
charset-normalizer
colorama
cryptography
dnspython
filelock
frozenlist
gdown
google-api-core 
google-api-python-client 
google-auth 
google-auth-httplib2 
googleapis-common-protos 
httplib2 
idna 
imutils 
inflate64 
logzero 
mega.py 
multidict 
multivolumefile
mutagen 
numpy 
oauth2client 
pathlib 
Pillow 
protobuf 
psutil 
py7zr 
pyaes 
pyasn1 
pyasn1-modules 
pybcj 
pycares 
pycparser 
pycryptodome 
pycryptodomex 
PyDrive 
PyDrive2 
pymongo 
pyOneFichierClient 
pyOpenSSL 
pyparsing 
pyperclip 
pyppmd 
Pyrogram==2.0.93
PySocks
PyYAML 
pyzstd 
requests
rsa 
six 
soupsieve 
tenacity 
texttable 
TgCrypto 
tqdm 
uritemplate 
urllib3 
user-agent 
websockets 
wget
yarl 
yt-dlp
zippyshare-downloader
Jinja2 
MarkupSafe 
rarfile
cryptography
pdfkit
pytz