aiohttp
aiosignal
anyio
asks
async-generator
async-timeout
attrs
beautifulsoup4
Brotli
cachetools
certifi
cffi
charset-normalizer
cryptography 
dnspython 
filelock 
frozenlist 
gdown 
google-api-core 
google-api-python-client 
google-auth 
google-auth-httplib2 
googleapis-common-protos 
h11 
httplib2 
idna 
inflate64 
Jinja2 
logzero 
lxml 
MarkupSafe 
mega
mega.py
multidict
multivolumefile
mutagen
numpy
oauth2client
opencv-contrib-python-headless
outcome
pathlib
protobuf
psutil
py7zr
pyaes
pyasn1
pyasn1-modules
pybcj
pycparser
pycryptodome
pycryptodomex
PyDrive2
pyminizip
pyOpenSSL
pyparsing
pyppmd
Pyrogram
PySocks
pytz
PyYAML
pyzstd
rarfile
requests
rsa
six
sniffio
sortedcontainers
soupsieve
tenacity
texttable
TgCrypto
tqdm
trio
uritemplate
urllib3
user-agent
websockets
yarl
yt-dlp
instaloader
mediafire
pyzipper
unrar
pyunpack
pytube