<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hola Mundo</title>
  <link rel="stylesheet" type="text/css" href="/static/estilos.css">
  <link rel="icon" href="/static/favicon.png" type="image/x-icon">
</head>

<body>
  <H1>Hola {{nombre}}</H1>
  <form>
    <input type="text" id="input_text" name="input_text" placeholder="Pegar URL"><br>
    <button type="submit" formaction="/submit">Aceptar</button>
  </form>
</body>

</html>